{% load static %}
<div class="contact-section section sub-section">
    <div class="wrapper">
        <div class="section-title title sub-section-title big-title">
            <h2>контакты</h2>
        </div>
        <div class="contact-top-text text">
            <p>Мы заботимся о каждой заявке, и ничего не упускаем из виду. Ответ на Вашу заявку будет от 10 минут до часа. При диалоге Вы получите консультацию по Вашему направлению - что и в какой последовательности стоит делать. Заполните все поля и Мы свяжемся с Вами.</p>
        </div>
        <div class="contact-content">
            <div class="contact-data mini-blocks-content">
                <div class="contact-block mini-block">
                    <div class="contact-image mini-block-img">
                        <object type="image/svg+xml" data="images/strategy.svg" width="96" height="31">
                            <img src="{% static 'images/strategy.png' %}" width="59" height="59" />
                        </object>
                    </div>
                    <div class="contact-info mini-block-info">
                        <div class="contact-title title mini-block-title">
                            <a href="tel:+73443432321">+7 344 343-23-21</a>
                        </div>
                        <div class="contact-text text mini-block-text">
                            <p>Месседжер и телефон</p>
                        </div>
                    </div>
                </div>
                <div class="contact-block mini-block">
                    <div class="contact-image mini-block-img">
                        <object type="image/svg+xml" data="images/give.svg" width="96" height="31">
                            <img src="{% static 'images/give.png' %}" width="59" height="59" />
                        </object>
                    </div>
                    <div class="contact-info mini-block-info">
                        <div class="contact-title title mini-block-title">
                            <a href="mailto:tehno-K@mail.ru">Tehno-K@mail.ru</a>
                        </div>
                        <div class="contact-text text mini-block-text">
                            <p>E-mail</p>
                        </div>
                    </div>
                </div>
                <div class="contact-block mini-block">
                    <div class="contact-image mini-block-img">
                        <object type="image/svg+xml" data="images/new-year.svg" width="96" height="31">
                            <img src="{% static 'images/new-year.png" width="59" height="59" />
                        </object>
                    </div>
                    <div class="contact-info mini-block-info">
                        <div class="contact-title title mini-block-title">
                            <h3>Tehno-K</h3>
                        </div>
                        <div class="contact-text text mini-block-text">
                            <p>Skype</p>
                        </div>
                    </div>
                </div>
                <div class="contact-block mini-block">
                    <div class="contact-image mini-block-img">
                        <object type="image/svg+xml" data="images/team.svg" width="96" height="31">
                            <img src="{% static 'images/team.png' %}" width="59" height="59" />
                        </object>
                    </div>
                    <div class="contact-info mini-block-info">
                        <div class="contact-title title mini-block-title">
                            <h3>Ул. Центральная 11, оф.6</h3>
                        </div>
                        <div class="contact-text text mini-block-text">
                            <p>Офис в Москве</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-cont-block">
               <div class="social-block">
                    <div class="social-title title">
                        <h4>мы в социальных сетях</h4>
                    </div>
                    <div class="social-item">
                        <a href="/" class="social-link" target="_blank">
                            <div class="social-image li">
                                <img src="{% static 'images/linkedin-contacts-img.svg' %}"/>
                            </div>
                            <div class="social-name">
                                <span>LinkedIn</span>
                            </div>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="/" class="social-link" target="_blank">
                            <div class="social-image tl">
                                <img src="{% static 'images/telegram-contact-img.svg' %}"/>
                            </div>
                            <div class="social-name">
                                <span>Telegram</span>
                            </div>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="/" class="social-link" target="_blank">
                            <div class="social-image fb">
                                <img src="{% static 'images/facebook-contact-img.svg' %}"/>
                            </div>
                            <div class="social-name">
                                <span>Facebook</span>
                            </div>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="/" class="social-link" target="_blank">
                            <div class="social-image bh">
                                <img src="{% static 'images/behance-contact-img.svg' %}"/>
                            </div>
                            <div class="social-name">
                                <span>Behance</span>
                            </div>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="/" class="social-link" target="_blank">
                            <div class="social-image vk">
                                <img src="{% static 'images/vk-contact-img.svg' %}"/>
                            </div>
                            <div class="social-name">
                                <span>VK.com</span>
                            </div>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="/" class="social-link" target="_blank">
                            <div class="social-image sk">
                                <img src="{% static 'images/skype-contact-img.svg' %}"/>
                            </div>
                            <div class="social-name">
                                <span>Skype</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="download-block">
                    <div class="download-top text">
                        <p>Так же Вы можете скачать бриф, который мы сможем детально изучить, и после связаться с Вами для подбробного изучения проекта.</p>
                    </div>
                    <div class="download-bottom">
                        <a href="" class='button yellow' download>Скачать бриф</a>
                        <div class="text">
                            <p>Отправьте заполненный бриф нам на почту <b>dim_555@mail.ru</b><br/> В скайп/месседжер - <b>+7 925 879-96-40</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-cont-block">
                <div class="form-title title">
                    <h4>Давайте обсудим Ваш проект!</h4>
                </div>
                <div class="form-top-text text">
                    <p>Расскажем как сделать Ваш кредит выгоднее!</p>
                </div>
                <form  action="{% url 'callrequest:request' %}" method="post" class="request-form contact-form form">
                    {% csrf_token %}
                    <div class="form-inputs">
                        <div class="form-row form_input">
                            <input type="text" placeholder="Введите имя" required class='disable-margin'>
                        </div>
                        <div class="form-row form_input">
                            <input type="tel" class="tel tel-mask" placeholder="Телефон" name="ph" required data-rule-minlength="10" data-msg="Телефон">
                        </div>
                        <div class="form-info text">
                            <span>Лучше напишите в Telegram \ Viber</span>
                        </div>
                        <div class="activity">
                            <select name="activity" >
                                <option value="">Сфера деятельности</option>
                                {% for option in activities %}
                                <option value="{{option.id}}">{{ option.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea name="request-textarea" cols="30" rows="10" placeholder="Расскажите кратко о сути проекта"></textarea>
                    </div>
                    <div class="form-bottom">
                        <button type="submit" class="button yellow">Отправить</button>
                        <div class="form-text text">
                            <p>Отправляя форму, Вы соглашаетесь на политику обработки персональных данных</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>