<div class="news-important-section section">
    <div class="wrapper">
        <div class="info-blocks">
            <div class="info-block">
                <div class="info-img">
                    <object type="image/svg+xml" data="images/info.svg" width="54" height="54">
                        <img src="images/info.png" width="54" height="54" />
                    </object>
                </div>
                <div class="info-text text">
                    <p><b>Аудит финансовой отчетности</b> проводится в полном соответствии с международными стандартами аудита (МСА), которые признаны в Украине в качестве     национальных стандартов. Также в Украине аудиторы обязаны соблюдать требования Международного Кодекса этики профессиональных бухгалтеров (аудиторов).</p>
                </div>
            </div>
            <div class="info-block yellow-block">
                <div class="info-img">
                    <object type="image/svg+xml" data="images/info.svg" width="54" height="54">
                        <img src="images/info.png" width="54" height="54" />
                    </object>
                </div>
                <div class="info-text text">
                    <p>В ходе проведения аудита мы учитываем масштаб и специфику деятельности предприятия (организации), используем проверенную временем методологию аудита, сочетаем многолетний опыт и современные инструменты проверок.</p>
                </div>
            </div>
            <div class="info-block info-video">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/C0DPdy98e4c?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="info-block big-block">
                <div class="info-text text">
                    <p><b>Аудит финансовой отчетности</b> проводится в полном соответствии с международными стандартами аудита (МСА), которые признаны в Украине в качестве национальных стандартов. Также в Украине аудиторы обязаны соблюдать требования Международного Кодекса этики профессиональных бухгалтеров (аудиторов). Полном соответствии с международными стандартами аудита (МСА), которые признаны в Украине в качестве национальных стандартов. Также в Украине аудиторы обязаны соблюдать требования Международного Кодекса этики профессиональных бухгалтеров (аудиторов). Полном соответствии с международными стандартами аудита (МСА), которые признаны в Украине в качестве национальных стандартов. Также в Украине аудиторы обязаны соблюдать требования Международного Кодекса этики профессиональных бухгалтеров (аудиторов).</p>
                </div>
            </div>
        </div>
    </div>
</div>