@import '../variables.scss';
.top-content-section{padding-bottom: 0; margin-bottom:40px; z-index: 5;}
.top-content{display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;}

.nav-chain{width:32%; min-height: 20px;
    & > *{color: $grey; line-height: 25px;}
        a:not(:last-of-type)::after{content:'/'; display: inline-block; transform: rotate(310deg); position: relative; top: 0; margin-left:4px}
}
.top-menu{width: 68%;height: 30px;
    .menu{text-align: right;
        a{color: $black;font-size: 13px;line-height: 31px;text-transform: uppercase;margin: 5vh 0 0 3%;transition: all 0.3s ease; font-weight: 300}
    }
}

@media screen and (max-width:1024px){
    .top-content-section{margin-top: 61px;}
}

@media screen and (max-width: 992px){
    .top-content{flex-wrap:wrap;}
    .nav-chain{width: 100%;}
    .top-menu{display:none;
    }
}

@media screen and (max-width: 767px){
    .nav-chain{width:100%; min-height: 28px}

}

@media screen and (max-width: 666px){
    .top-content-section{margin-bottom:20px; padding-top:20px;}
    .nav-chain{width:100%;}
}