{% load static %}
<div class="what-we-do-section sub-section section">
  <div class="wrapper">
    <div class="we-do-content">
      <div class="we-do-block">
        <div class="we-do-img animate-it animate-delay">
          <div class="scroll-line"></div>
          <img src="{% static 'images/loans-for-any-purpose-section-img-1.png' %}" alt="">
        </div>
        <div class="we-do-info">
          <div class="we-do-title title">
            <h4>Чем занимаемся</h4>
          </div>
          <div class="we-do-text text">
            <p>Не большое описание доля каких компаний делали или что-то такое. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
          </div>
        </div>
      </div>
      <div class="we-do-block">
        <div class="we-do-img animate-it animate-delay">
          <div class="scroll-line"></div>
          <img src="{% static 'images/loans-for-any-purpose-section-img-2.png' %}" alt="">
        </div>
        <div class="we-do-info">
          <ul>
              <li>Проводится в полном соответствии с международными стандартами аудита (МСА), которые признаны в Украине в качестве национальных стандартов.</li>
              <li>Также в Украине аудиторы обязаны соблюдать требования Международного Кодекса этики профессиональных бухгалтеров (аудиторов).</li>
              <li>Полном соответствии с международными стандартами аудита (МСА), которые признаны в Украине в качестве национальных стандартов.</li>
              <li>Также в Украине аудиторы обязаны соблюдать требования Международного Кодекса этики профессиональных бухгалтеров (аудиторов).</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
