{% load static %}
<div class="about-company-in-numbers-section section">
  <div class="wrapper">
    <div class="section-title title">
      <h2>О компании в цифрах</h2>
    </div>
    <div class="about-company-content mini-blocks-content">
      <div class="about-company-block animate-it animate-delay animate-left mini-block">
        <div class="about-company-img mini-block-img">
          <object type="image/svg+xml" data="{% static 'images/strategy.svg' %}" width="96" height="31">
            <img src="{% static 'images/strategy.png' %}" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info mini-block-info">
          <div class="about-company-title title mini-block-title">
            <h3>142 успешных проекта</h3>
          </div>
          <div class="about-company-text text mini-block-text">
            <p>Не большое описание доля каких компаний делали или что-то такое</p>
          </div>
        </div>
      </div>
      <div class="about-company-block animate-it animate-delay animate-left mini-block">
        <div class="about-company-img mini-block-img">
          <object type="image/svg+xml" data="{% static 'images/give.svg' %}" width="96" height="31">
            <img src="{% static 'images/give.png' %}" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info mini-block-info">
          <div class="about-company-title title mini-block-title">
            <h3>74 довольных клиента</h3>
          </div>
           <div class="about-company-text text mini-block-text">
            <p>Не большое описание доля каких компаний делали или что-то такое</p>
          </div>
        </div>
      </div>
      <div class="about-company-block animate-it animate-delay animate-right mini-block">
        <div class="about-company-img mini-block-img">
          <object type="image/svg+xml" data="{% static 'images/new-year.svg' %}" width="96" height="31">
            <img src="{% static 'images/new-year.png' %}" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info mini-block-info">
          <div class="about-company-title title mini-block-title">
            <h3>7 лет на рынке</h3>
          </div>
           <div class="about-company-text text mini-block-text">
            <p>Не большое описание доля каких компаний делали или что-то такое</p>
          </div>
        </div>
      </div>
      <div class="about-company-block animate-it animate-delay animate-right mini-block">
        <div class="about-company-img mini-block-img">
          <object type="image/svg+xml" data="{% static 'images/team.svg' %}" width="96" height="31">
            <img src="{% static 'images/team.png' %}" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info mini-block-info">
          <div class="about-company-title title mini-block-title">
            <h3>42 человека в команде</h3>
          </div>
           <div class="about-company-text text mini-block-text">
            <p>Не большое описание доля каких компаний делали или что-то такое</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
