{% load static %}
<div class="customers-section section">
    <div class="wrapper">
        <div class="customers-content">
            <div class="section-title title">
                <h2>Клиенты</h2>
            </div>
        <div class="customers-slider">
            <div class="slider-item">
                <div class="slide-wrapper">
                    <div class="slider-item-img">
                        <img src="{% static 'images/client-slider-img-1.png' %}" alt="">
                    </div>
                    <div class="slider-item-content">
                        <div class="block-title title">
                            <h5>Глобал консалтинг "Финансовая поддержка"</h5>
                        </div>
                        <div class="block-text text">
                            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
                        </div>
                        <div class="slider-item-stars">
                            <img src="{% static 'images/stars.png' %}" class="star" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="slide-wrapper">
                    <div class="slider-item-img">
                        <img src="{% static 'images/client-slider-img-2.png' %}" alt="">
                    </div>
                    <div class="slider-item-content">
                        <div class="block-title title">
                            <h5>Глобал консалтинг "Финансовая поддержка"</h5>
                        </div>
                        <div class="block-text text">
                            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
                        </div>
                        <div class="slider-item-stars">
                            <img src="{% static 'images/stars.png' %}" class="star" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="slide-wrapper">
                    <div class="slider-item-img">
                        <img src="{% static 'images/client-slider-img-3.png' %}" alt="">
                    </div>
                    <div class="slider-item-content">
                        <div class="block-title title">
                            <h5>Глобал консалтинг "Финансовая поддержка"</h5>
                        </div>
                        <div class="block-text text">
                            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
                        </div>
                        <div class="slider-item-stars">
                            <img src="{% static 'images/stars.png' %}" class="star" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="slide-wrapper">
                    <div class="slider-item-img">
                        <img src="{% static 'images/client-slider-img-1.png' %}" alt="">
                    </div>
                    <div class="slider-item-content">
                        <div class="block-title title">
                            <h5>Глобал консалтинг "Финансовая поддержка"</h5>
                        </div>
                        <div class="block-text text">
                            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
                        </div>
                        <div class="slider-item-stars">
                            <img src="{% static 'images/stars.png' %}" class="star" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="slide-wrapper">
                    <div class="slider-item-img">
                        <img src="{% static 'images/client-slider-img-2.png' %}" alt="">
                    </div>
                    <div class="slider-item-content">
                        <div class="block-title title">
                            <h5>Глобал консалтинг "Финансовая поддержка"</h5>
                        </div>
                        <div class="block-text text">
                            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
                        </div>
                        <div class="slider-item-stars">
                            <img src="{% static 'images/stars.png' %}" class="star" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="slide-wrapper">
                    <div class="slider-item-img">
                        <img src="{% static 'images/client-slider-img-3.png' %}" alt="">
                    </div>
                    <div class="slider-item-content">
                        <div class="block-title title">
                            <h5>Глобал консалтинг "Финансовая поддержка"</h5>
                        </div>
                        <div class="block-text text">
                            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
                        </div>
                        <div class="slider-item-stars">
                            <img src="{% static 'images/stars.png' %}" class="star" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
