{% load static %}
<div class="services-and-solutions-section section">
 <div class="wrapper">
  <div class="section-title title">
    <h2>Услуги и решения</h2>
  </div>
   <div class="services-and-solutions-slider">
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="{% static 'images/services-img-1.png' %}" alt="">
       </div>
       <div class="slider-item-content">
         <div class="slider-item-title title">
           <h5>Аудиторские услуги</h5>
         </div>
           <ul class="slider-item-link-list">
           <li><a href="">Аудит финансовой отчетности</a></li>
           <li><a href="">Сопутствующие аудиторские услуги</a></li>
         </ul>
       </div>
       <a href='/' class="button black">Заказать</a>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="{% static 'images/services-img-2.png' %}" alt="">
       </div>
       <div class="slider-item-content">
        <div class="slider-item-title title">
          <h5>Налоговый консалтинг</h5>
        </div>
         <ul class="slider-item-link-list">
           <li><a href="">Налоговые консультации</a></li>
           <li><a href="">Консультации по бухгалтерскому отчету</a></li>
           <li><a href="">Бухгалтерский клуб</a></li>
           <li><a href="">Семинары</a></li>
         </ul>
       </div>
      <a href='/' class="button black">Заказать</a>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="{% static 'images/services-img-3.png' %}" alt="">
       </div>
       <div class="slider-item-content">
        <div class="slider-item-title title">
          <h5>Кадровый консалтинг</h5>
        </div>
         <ul class="slider-item-link-list">
           <li><a href="">Кадровый аудит</a></li>
           <li><a href="">Подбор персонала</a></li>
         </ul>
       </div>
      <a href='/' class="button black">Заказать</a>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="{% static 'images/services-img-4.png' %}" alt="">
       </div>
       <div class="slider-item-content">
        <div class="slider-item-title title">
          <h5>Юридические услуги</h5>
        </div>
         <ul class="slider-item-link-list">
           <li><a href="">Юридические консультации</a></li>
           <li><a href="">Создание бизнеса</a></li>
           <li><a href="">Регистрация юридического лица</a></li>
           <li><a href="">Смотреть весь список</a></li>
         </ul>
       </div>
      <a href='/' class="button black">Заказать</a>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="{% static 'images/services-img-4.png' %}" alt="">
       </div>
       <div class="slider-item-content">
        <div class="slider-item-title title">
          <h5>Юридические услуги</h5>
        </div>
         <ul class="slider-item-link-list">
           <li><a href="">Юридические консультации</a></li>
           <li><a href="">Создание бизнеса</a></li>
           <li><a href="">Регистрация юридического лица</a></li>
           <li><a href="">Смотреть весь список</a></li>
         </ul>
       </div>
       <a href='/' class="button black">Заказать</a>
     </div>
   </div>
   <div class="services-and-solutions-all-solutions">
     <a href='services.html' class="button red">Все услуги</a>
   </div>
 </div>
</div>
